@import '~src/assets/scss/vars.scss';
.go-back{
    color:$blue;
    font-size: 22px;
    margin:20px 0px;
    a{
        color:$blue;
    span{
        font-family: 'Roboto-BlackItalic';
        margin-left: 5px;
    }
}
}