<div class="container-card-order">
    <div class="card-order">
        <div class="header-card">
            <h1>Accede a tu cuenta en <b>REPCEX!</b></h1>
        </div>
        <div class="form-order-card">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="order-input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" type="text" required>
                        <mat-error *ngIf="formLogin.get('email').status">Ingresa un email valido</mat-error>
                      </mat-form-field>
                </div>
                <div class="order-input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Contraseña" formControlName="password" type="password" required>
                        <mat-error *ngIf="formLogin.get('password').status">Password es requerido</mat-error>
                      </mat-form-field>

                </div>
                <div class="forgot-password">
                    <a routerLink="/auth/recuperar-contraseña"><p>¿Olvidaste tu contraseña?</p></a>
                </div>
                <div class="btn-order">
                    <button mat-raised-button color="accent" class="btn-red-repcex btn-make-order" [disabled]="!formLogin.valid">INGRESAR</button>
                </div>
                <div class="checkbox-login">
                    <input type="checkbox"> <span>No cerrar sesión</span>
                </div>
            </form>
            <div class="text-a-center text-register">
                ¿Aún no tienes una cuenta? <span><a routerLink="/auth/registro">Regístrate</a></span>
            </div>
            <div class="footer-card-login">
                <div class="o-text d-flex j-content-center">
                    <div class="o">
                        o
                    </div>
                </div>
                <div class="social-networks-login">
                    <div class="item-social-networks d-flex a-items-center">
                        <img src="assets/img/svg/icon-fb.svg" alt="">
                        <p>Inicia sesión con Facebook</p>
                    </div>
                    <div class="item-social-networks d-flex a-items-center">
                        <img src="assets/img/svg/icon-google.svg" alt="">
                        <p>Inicia sesión con Google</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>