@import '../../../order/components/card-order/card-order.component.scss';
@import '~src/assets/scss/vars.scss';
a{
    text-decoration: none;
}
.card-order{
    width: 100%;
    max-height: max-content !important;

}
.container-card-order{
    width: 350px;
}
.form-order-card{
    background: white;
}
.header-card{
    padding: 15px;
    h1{
        text-align: left;
        font-size: 18px;
    }
}
.forgot-password,.checkbox-login{
    padding: 10px 20px;}

.forgot-password{

    padding: 10px 20px;
    p{  
        font-family: 'OpenSans-Light';
        color:$blue;
    }
}
.btn-order{
    display: flex;
    justify-content: center;
    background: transparent;
}
.btn-make-order {
    width: 80%;
}
.checkbox-login{
    display: flex;
    align-items: center;
    span{
        margin-left: 5px;
        font-family: 'OpenSans-Light';
    }
}
.text-register{
    a{

        color:$blue;
    }
    font-family: 'OpenSans-Light';
    color:$blue;
    margin-bottom:40px;
    span{
        font-family: 'OpenSans-Bold';
    }
}
.footer-card-login{
    position: relative;
    margin-top: 18px;
    padding-bottom: 10px;
    background: #EDF1FA;
    .social-networks-login{
        margin-top: 40px;
        display: flex;
    flex-direction: column;
    align-items: center;
        .item-social-networks{
            padding: 10px;
            min-width: 240px;
            margin:8px 0px;
    background: white;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
            p{
                font-family: 'OpenSans-Regular';
                margin: 0 5px;
            }
        }

    }
}
.o{
        /* padding: 15px; */
        background: $blue;
        border-radius: 50%;
        width: 50px;
        color:white;
        height: 50px;
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
        position: absolute;
    margin-top: -25px;
}