<div class="select-plan">
    <p>Elige un plan</p>
</div>
<div class="container-order-distributor d-flex">

    <div class="item-order">
        <img width="20%" src="assets/img/bg/producto-azul.png" alt="">
        <b>100 Unidades</b>
        <p>Precio unitario <span>$27.000</span></p>
    </div>
    <div class="item-order">
        <img width="20%" src="assets/img/bg/producto-azul.png" alt="">
        <b>25 Unidades</b>
        <p>Precio unitario <span>$37.000</span></p>
    </div>
</div>
<div class="total-price-order">
    <div class="product-price-divider price-product d-flex j-content-sb">
        <p>Subtotal</p>
        <p>$80.000</p>
    </div>
    <div class="product-price-divider price-product d-flex j-content-sb">
        <b>Total</b>
        <b>$80.000</b>
    </div></div>