@import 'src/assets/scss/vars.scss';
table {
    width: 100%;
    border-radius: 20px !important;
    overflow: hidden;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
// 
::ng-deep .thead-my-orders{
    background: $header-table-gray;
    color:$black;
    font-family: 'OpenSans-Regular';
}  
