@import '~src/assets/scss/vars.scss';
table {
    width: 100%;
    border-radius: 20px !important;
    overflow: hidden;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
// 
::ng-deep .thead-my-orders{
    background: $header-table-gray;
    color:$black;
    font-family: 'OpenSans-Regular';
}  
.label-my-orders{
    margin-right: 20px;
    font-family: 'OpenSans-Light';
    font-size: 18px;
}
.per-page{
    margin-top: 40px;
    margin-top: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
