$black:#272727;
$blue:#000C6F;
$red:#FB0000;
/* FONTS */
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
  }
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
  }
  @font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
  }
  @font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
  }
  @font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf");
  }
  @font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
  
  }
  // FONTS CLASS
  .open-sans-bold{
    font-family: 'OpenSans-Bold';
  }
  .open-sans-e-bold{
    font-family: 'OpenSans-ExtraBold';
  }
  .open-sans-i-bold{
    font-family: 'OpenSans-ExtraBoldItalic';
  }
  .open-sans-light{
    font-family: 'OpenSans-Light';
  }
  .open-sans-regular{
    font-family: 'OpenSans-Regular';
  }
  .roboto-regular{
    font-family: 'Roboto-Regular';
  }
  .roboto-bold{
    font-family: 'Roboto-Bold';
  }
  .roboto-e-bold{
    font-family: 'Roboto-ExtraBold';
  }
  .roboto-black{
    font-family: 'Roboto-Black';
  }
  .roboto-i-black{
    font-family: 'Roboto-BlackItalic';
  }
  .roboto-i-bold{
    font-family: 'Roboto-BoldItalic';
  }
  .roboto-light{
    font-family: 'Roboto-Light';
  }
  //Padding content center  
  .p-content-dashboard{
    padding: 20px 30px;
  }
  // P MARGIN 0
  .m-0{
    margin: 0 !important;
  }
  // CARD
  .card{
    box-shadow: 0px 0px 30px #A7A7A729;
border-radius: 10px;
margin:10px 0px;
  }

  // A - HREF SIN LINEA DEBAJO
  a{
    text-decoration: none;
  }

  // BUTTONS
  .btn-red-repcex{
    border-radius: 10px !important;
    font-family: 'Roboto-BlackItalic' !important;
    color:white !important;
    margin:0px 5px !important;
    i{
      margin:0px 5px;
    }
}
.btn-new-order{
  color:white;
  border-radius: 10px !important;
  i{
    margin:0px 4px;
  }
}

.btn-white-outline-repcex{
    border-radius: 10px !important;
    font-family: 'Roboto-Regular' !important;
    color:white !important;
    border:2px solid white !important;
    background: transparent !important;
    margin:0px 5px !important;
}
//Inputs
.input-order-repcex{
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}
input:focus{
outline: none;
}
select:focus{
  outline: none;
}
textarea:focus{
  outline: none;
  }
.input-order-repcex::placeholder{
  color:#D9D9D9;
  font-family: 'OpenSans-Light';
}
