// GLOBAL
$black:#272727;
$blue:#000C6F;
$red:#FB0000;
$blue-sidenav:#000134;
$grey:#707070;
$header-table-gray:#E2E2E2;
$stepper-disabled:#D4D4D4;
$star:#FFBB00;

// TABLE MY ORDERS
$chip-turquoise:#0CB6FF;
$chip-bg-turquoise:#90deff;
$chip-green:#28C76F;
$chip-bg-green:#8bffbf;
$chip-orange:#FF8000;
$chip-bg-orange:#ffbd7c;
