@import 'src/assets/scss/vars.scss';
table {
    width: 100%;
    border-radius: 20px !important;
    overflow: hidden;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
// 
::ng-deep .thead-my-orders{
    background: $header-table-gray;
    color:$black;
    font-family: 'OpenSans-Regular';
}  
// 

.mat-elevation-z8{
    width: 100%;
    margin:10px 0px;
}
.img-product{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: $header-table-gray;
}
.info-product{
    color:$black;
    p{
        font-family: 'OpenSans-Bold';
    }
    span{
        font-family: 'OpenSans-Light';
        color:$grey;
    }
}

// PAGINATOR
.paginator-table{
    p{
        color:$grey;
        margin-right: 10px;
    }
    .icon-container{
     
    
    button{
        margin:0px 5px;
        border-radius: 50%;
        background: $blue;
        min-width: 30px !important;
        padding: 0px;
        i{
            margin:0px 5px;
            color:white;
        }
    }
}
}