
<div class="row">
    <div class="col-md-6">
        <div class="direction-order d-flex">
            <mat-form-field class="mat-form-field-order" appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ingresa la ciudad donde estés">
            </mat-form-field>
            <mat-form-field class="mat-form-field-order" appearance="outline">
                <mat-label>Dirección de entrega</mat-label>
                <input matInput placeholder="Ingresa una dirección">
            </mat-form-field>

        </div>
    </div>
</div>