@import "~src/assets/scss/vars.scss";
.header-card{
    text-align: center;
    padding: 30px;
    h1{
        font: italic normal 300 26px 'Roboto-Light';
    }
    p{
        font-family: 'OpenSans-Regular';
    }
}

.card-order{
    width: 86%;
    margin-left: 5px;
    border-radius: 10px;
    color:$black;
    background:white;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 544px;

}
.card-order::-webkit-scrollbar {
    display: none;
}
.form-information-card{
    background: #ffffff;
}
.form-order-card{
    background: #EDF1FA;
}
.order-input{
    padding: 10px 20px;
    label{
        margin: 5px 0px;
        font-family: 'OpenSans-Regular';
    }
}
.photo-product{
    width: 46px;
    background: white;
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}
.col-price-card{
    padding: 0;
    justify-content: space-between;
}
.selection-products-card{
    padding: 10px;
}
.description-product{
    b{
        font-family: 'OpenSans-ExtraBoldItalic';
        font-size: 16px;
    }

}
.qty-products{
    height: 100%;
}
.min,.value-qty,.plus{
    padding: 15px 10px;
    background: white;
}
.min{
    border-radius: 10px 0px 0px 10px;
}

.plus{
    border-radius: 0px 10px 10px 0px;
}
.price-product{
    b{
        font-family: 'OpenSans-Bold';
        font-size: 18px;
    }
}
.btn-make-order{
    width: 100%;
    padding: 6px 0px;
    margin: 0 !important;
}
.btn-order{
    background: $red;
    border-radius: 10px 10px 0px 0px;
}
/* INFORMACION */
.expansion-panel-order{
    box-shadow: 0px 0px; 
    border:0px;
    background: #F2F2F2;
    border-top:1px solid rgb(220, 220, 220);
    border-bottom:1px solid rgb(220, 220, 220);
    mat-expansion-panel-header{
        mat-panel-title{
            color:#000C6E;
            i{
                font-size: 22px;
                margin-right: 10px;
            }
            
        }
    }
    
}