<div class="container-card-order">
    <div class="card-order">
        <div class="header-card">
            <h1>¡Pide ya tu <b>REPCEX!</b></h1>
            <p>Completa los datos a continuación y haz tu pedido ahora mismo.</p>
        </div>
          <app-information-order *ngIf="content_card === 'informacion'"></app-information-order>
        <ng-container *ngIf="content_card === 'pedido'">
            <div class="form-order-card">
                <form action="">
                    <div class="order-input">
                        <label for="">Ciudad</label><br>
                        <input type="text" class="input-order-repcex" placeholder="Ingresa la ciudad donde estés">
                    </div>
                    <div class="order-input">
                        <label for="">Dirección de entrega</label><br>
                        <input type="text" class="input-order-repcex"
                            placeholder="Ingresa la dirección de entrega del producto">
                    </div>
                    <app-client-order *ngIf="type == 'client'"></app-client-order> 
                    <app-distributor-order *ngIf="type == 'dist'"></app-distributor-order>
                    <div class="btn-order">
                        <a routerLink="/pedido/informacion"><button mat-raised-button color="accent" class="btn-red-repcex btn-make-order">REALIZAR
                            PEDIDO</button></a>

                    </div>

                </form>


            </div>
        </ng-container>
    </div>
</div>