<div class="row item-list-product">
    <div class="col-xs-7 d-flex a-items-center">
        <img width="40px" src="assets/img/bg/producto-rosado.png" alt="">

    </div>
    <div class="col-xs-3 d-flex a-items-center open-sans-bold">
        {{ '256' | currency}}<br>
    </div>
    <div class="col-xs-2 d-flex a-items-center">
        <app-quantity-products-select></app-quantity-products-select>
        <br>
    </div>
</div>

<div class="row item-list-product">
    <div class="col-xs-7 d-flex a-items-center">
        <img width="40px" src="assets/img/bg/producto-rosado.png" alt="">

    </div>
    <div class="col-xs-3 d-flex a-items-center open-sans-bold">
        {{ '256' | currency}}<br>
    </div>
    <div class="col-xs-2 d-flex a-items-center">
        <app-quantity-products-select></app-quantity-products-select>
        <br>
    </div>
</div>