<div class="stepper-container d-flex ">
    <div class="stepper-item  d-flex a-items-center">
        <div class="number-stepper">
            1
        </div>
        <span>Realizar pedido</span>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="stepper-item stepper-item--disabled d-flex a-items-center">
        <div class="number-stepper">
            2
        </div>
        <span>Información {{ user == 'dist' ? 'de envio' : ''}}</span>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="stepper-item stepper-item--disabled d-flex a-items-center">
        <div class="number-stepper">
            3
        </div>
        <span>Pago</span>
    </div>
</div>