@import 'src/assets/scss/vars.scss';
.container-dashboard{
    padding: 0;
    height: 100%;
    margin: 0;
   
}
.sidenav-container{
    padding: 0px;
}
.content-dashboard{
    background: #F6F6F6;
}


//current-page
.icon-home{
    padding: 6px 5px;
    width: 50px;
    margin-right: 14px;
    border-right: 1px solid darkgray;
    i{
        font-size: 22px;
        color:$blue;
    }
}

.text-current-page{
    p{
        margin:0px;
        font-family: 'Roboto-BlackItalic';
        color:$black;
        font-size: 22px;
    }
}