<div class="selection-products-card item-product">
    <div class="row">
        <div class="col-xs-2  d-flex j-content-fe">
            <div class="photo-product">
                <img width="100%" src="assets/img/bg/producto-azul.png" alt="">
            </div>
        </div>
        <div class="col-xs-3 description-product">
            <b>REPCEX</b>
            <p>Presentación 500ml</p>
        </div>
        <div class="col-xs-7 d-flex j-content-sb">
            <div class="price-product d-flex a-items-center">
                <b>$50.000</b>
            </div>
            <div class="qty-products d-flex a-items-center">
                <div class="min">
                    <i class="fas fa-minus"></i>
                </div>
                <div class="value-qty">
                    1
                </div>
                <div class="plus">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Elige el distribuidor</p>
    </div>
</div>