<div class="selection-products-card item-product">
    <div class="row">
        <div class="col-xs-2  d-flex j-content-fe">
            <div class="photo-product">
                <img width="100%" src="assets/img/bg/producto-azul.png" alt="">
            </div>
        </div>
        <div class="col-xs-3 description-product">
            <b>REPCEX</b>
            <p>Presentación 500ml</p>
        </div>
        <div class="col-xs-7 d-flex j-content-sb">
            <div class="price-product d-flex a-items-center">
                <b>$50.000</b>
            </div>
            <!-- QUANTITY PRODUCTS SELECT -->
            <app-quantity-products-select></app-quantity-products-select>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-xs-12 select-distributor">
        <p>Elige el distribuidor</p>
    </div>
</div>

<div class="list-distributor">
    <div class="distributor-user-list d-flex">
        <div class="img-profile-distributor">
            <img src="assets/img/profile.png" alt="">
        </div>
        <div class="info-distributor">
            <div class="name d-flex j-content-sb">
                <p>Alex Rodriguez</p> <span>5.0 <i class="fas fa-star"></i></span>
            </div>
            <div class="description">
                <p>Envio gratis | Entrega inmediata</p>
            </div>
        </div>
        <div class="radio-button-select d-flex j-content-fe a-items-center">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"></mat-radio-button>
              </mat-radio-group>
        </div>

    </div>
    <div class="distributor-user-list d-flex">
        <div class="img-profile-distributor">
            <img src="assets/img/profile.png" alt="">
        </div>
        <div class="info-distributor">
            <div class="name d-flex j-content-sb">
                <p>Alex Rodriguez</p> <span>5.0 <i class="fas fa-star"></i></span>
            </div>
            <div class="description">
                <p>Envio gratis | Entrega inmediata</p>
            </div>
        </div>
        <div class="radio-button-select d-flex j-content-fe a-items-center">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"></mat-radio-button>
              </mat-radio-group>
        </div>

    </div>
    <div class="distributor-user-list d-flex">
        <div class="img-profile-distributor">
            <img src="assets/img/profile.png" alt="">
        </div>
        <div class="info-distributor">
            <div class="name d-flex j-content-sb">
                <p>Alex Rodriguez</p> <span>5.0 <i class="fas fa-star"></i></span>
            </div>
            <div class="description">
                <p>Envio gratis | Entrega inmediata</p>
            </div>
        </div>
        <div class="radio-button-select d-flex j-content-fe a-items-center">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"></mat-radio-button>
              </mat-radio-group>
        </div>

    </div>
    <div class="distributor-user-list d-flex">
        <div class="img-profile-distributor">
            <img src="assets/img/profile.png" alt="">
        </div>
        <div class="info-distributor">
            <div class="name d-flex j-content-sb">
                <p>Alex Rodriguez</p> <span>5.0 <i class="fas fa-star"></i></span>
            </div>
            <div class="description">
                <p>Envio gratis | Entrega inmediata</p>
            </div>
        </div>
        <div class="radio-button-select d-flex j-content-fe a-items-center">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"></mat-radio-button>
              </mat-radio-group>
        </div>

    </div>
</div>
<br>
<mat-divider></mat-divider>
<div class="total-price-order">
<div class="product-price-divider price-product d-flex j-content-sb">
    <p>Subtotal</p>
    <p>$80.000</p>
</div>
<div class="product-price-divider price-product d-flex j-content-sb">
    <p>Envio</p>
    <p>$0.000</p>
</div>
<div class="product-price-divider price-product d-flex j-content-sb">
    <b>Total</b>
    <b>$80.000</b>
</div></div>