 <!-- HEADER -->
 <div class="header-dashboard">
    <div class="row header">
        <div class="col-xs-offset-8 col-xs-2">
            <div class="icons-header">
                <mat-icon>search</mat-icon>
                <mat-icon matBadge="15" matBadgeColor="primary">notifications_none</mat-icon>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="profile-header">
                <div class="name">
                    <p>Felipe Arias</p>
                    <span>Minorista</span>

                </div>
                <div [matMenuTriggerFor]="menu" class="photo">
                    <img src="assets/img/profile.png" alt="">
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Mi perfil</button>
                    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
                  </mat-menu>
            </div>
        </div>
    </div>
</div>