<div class="container-card-order">
    <div class="card-order">
        <div class="header-card">
            <h1>Accede a tu cuenta adminstrativa <b>REPCEX</b></h1>
        </div>
        <div class="form-order-card">
            <form action="">
                <div class="order-input">
                    <label for="">Email</label><br>
                    <input type="text" class="input-order-repcex">
                </div>
                <div class="order-input">
                    <label for="">Contraseña</label><br>
                    <input type="text" class="input-order-repcex">

                </div>
                <div class="forgot-password">
                    <a routerLink="/auth/recuperar-contraseña"><p>¿Olvidaste tu contraseña?</p></a>
                </div>
                <div class="btn-order">
                    <button mat-raised-button color="accent" class="btn-red-repcex btn-make-order">INGRESAR</button>
                </div>
            </form>
        </div>
    </div>
</div>