@import "src/assets/scss/vars.scss";
.container-order{
    height: max-content;
    min-height: 100%;
    background: url("../../../../assets/img/bg/background.svg");
    background-size: cover;
    background-position: center center;
}


.container-content-card{
    height: 600px;
    margin:10px 0px;
}

.product-img{
    margin:0px 20px;
}
.img-products-left{
    width: 100%;
}
// RESPONSIVE
@media (min-width:100px){
    
    .product-img{
    height:200px;
    }
    .container-content-card{
        height: max-content;
    }
    }
@media (min-width:350px){
    
.product-img{
height:300px;
}
.container-content-card{
    justify-content: center;
    height: max-content;
}
}

@media (min-width:1000px){
    .product-img{
        height:390px
        }
        .container-content-card{
            justify-content: center;
            height: max-content;
        }
}
@media (min-width:1440px){
    .product-img{
        height:450px
        }
        .container-content-card{
            justify-content: space-evenly;
            height: 600px;
        }
}
@media (min-width:1920px){
    .product-img{
        height:100%
        }
}


