@import "src/assets/scss/vars.scss";
.container-order{
    height: 100vh;
    background: url("../../../../assets/img/bg/background.svg");
    background-size: cover;
}



.container-content-card{
    height: 600px;
}
