<div class="d-flex f-direction-c a-items-center text-banner">

      
    <h1>LOREM <b>IPSUN DOLOR</b> SIT ITEM</h1> 
    <div class="subtitle-container-banner">
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Aumenta los niveles de energía.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Aumenta los niveles de testosterona.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Mejora la potencia sexual.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Ayuda a potenciar el sistema inmunológico.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Aumenta la capacidad sexual masculina.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Elimina los problemas asociados a la difusión eréctil.</h2>
        </span>
    </div>
    <div class="subtitle-banner d-flex a-items-fs">

        <img src="assets/img/svg/icon-check-banner.svg" alt="">
        <span>
            <h2>Mejora el funcionamiento de la próstata.</h2>
        </span>
    </div>
</div>
</div>