<div class="container-card-order">
    <div class="card-order">
        <div class="header-card">
            <a routerLink="/auth/ingresar"><h1><i class="fas fa-angle-double-left"></i> ATRAS</h1></a>
        <h2>Recupera tu contraseña</h2>
        <p>Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>

        </div>
        <div class="form-order-card">
            <form [formGroup]="formForgotPassword">
                <div class="order-input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" type="email" required>
                        <mat-error *ngIf="
                        formForgotPassword.get('email').hasError('email')
                        &&!formForgotPassword.get('email').hasError('required')">Ingresa un email valido</mat-error>
                      </mat-form-field>
                </div>
                <div class="btn-order">
                    <button mat-raised-button color="accent" class="btn-red-repcex btn-make-order" [disabled]="!formForgotPassword.valid">ENVIAR</button>
                </div>
            </form>
        </div>
    </div>
</div>