@import '../card-login/card-login.component.scss';
.header-card{
    a{
        text-decoration: none;
    }
    h2{
        text-align: left;
        font-family: 'Roboto-BlackItalic';
        margin:0px;
    }
    p{
        text-align: left;
        font-family: 'OpenSans-Light';
        margin:0px;
    }
    h1{
        font-family: 'Roboto-BlackItalic';
        color:$blue;
    }
}
.btn-order{
    margin-bottom: 10px;
}