@import 'src/assets/scss/vars.scss';
//current-page
.icon-home{
    padding: 6px 5px;
    width: 50px;
    margin-right: 14px;
    border-right: 1px solid darkgray;
    cursor:pointer;
    i{
        font-size: 22px;
        color:$blue;
    }
}

.text-current-page{
    p{
        margin:0px;
        font-family: 'Roboto-BlackItalic';
        color:$black;
        font-size: 22px;
    }
}