<div class="card-distributor-container d-flex">
    <div class="card-distributor-info">
         <p class="m-0 roboto-i-black name-distributor-card">Alex Rodriguez</p>
         <span class="open-sans-light">Envio</span>
         <p class="roboto-i-black price-card-distributor">GRATIS</p>
         <p class="open-sans-light text-a-center">*Entrega en 1 dia</p>
     </div> 
    <div class="card-distributor-info">
         <p class="m-0 roboto-i-black name-distributor-card">Alex Rodriguez</p>
         <span class="open-sans-light">Envio</span>
         <p class="roboto-i-black price-card-distributor">15.000 COP</p>
         <p class="open-sans-light text-a-center">*Entrega en 1 dia</p>
     </div> 
    <div class="card-distributor-info">
         <p class="m-0 roboto-i-black name-distributor-card">Alex Rodriguez</p>
         <span class="open-sans-light">Envio</span>
         <p class="roboto-i-black price-card-distributor">14.000 COP</p>
         <p class="open-sans-light text-a-center">*Entrega en 2 dia</p>
     </div> 
    <div class="card-distributor-info">
         <p class="m-0 roboto-i-black name-distributor-card">Alex Rodriguez</p>
         <span class="open-sans-light">Envio</span>
         <p class="roboto-i-black price-card-distributor">12.000 COP</p>
         <p class="open-sans-light text-a-center">*Entrega en 3 dia</p>
     </div> 
    <div class="card-distributor-info">
         <p class="m-0 roboto-i-black name-distributor-card">Alex Rodriguez</p>
         <span class="open-sans-light">Envio</span>
         <p class="roboto-i-black price-card-distributor">10.000 COP</p>
         <p class="open-sans-light text-a-center">*Entrega en 4 dia</p>
     </div> 
 </div>