<div class="filter-table d-flex j-content-sb">
    <div class="per-page">
        <label for="" class="label-my-orders">Entradas</label>
        <select name="" id="" class="input-order-repcex">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="search-my-orders">
        <div class="search-input">
            <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>