.label-my-orders{
    margin-right: 20px;
    font-family: 'OpenSans-Light';
    font-size: 18px;
}
.per-page{
    margin-top: 40px;
    margin-top: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters-admin{
    margin-left: 10px;
}
// select{
//     margin:.25em 0;
//     padding: 17px;
// }
.per-page-filter{
width: 70px;
}


/************** WARNING NG DEEP ****************/
::ng-deep .mat-form-filters{
    .mat-form-field-wrapper{
        margin:0px !important; 
        padding: 0px;
    }
}
.btn-download-container{
    margin-bottom: 2px;
    margin-left: 10px;
    button{
        background: #55C400;
        color:white;
    }
}