.label-my-orders{
    margin-right: 20px;
    font-family: 'OpenSans-Light';
    font-size: 18px;
}
.per-page{
    margin-top: 40px;
    margin-top: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
